{% extends '::base.html.twig' %}

{% block page_title %}Puslapis nepasiekiamas{% endblock %}

{% block page_content %}
	<section class="content-header">
		<div class="alerts">
			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
				<h4><i class="icon fa fa-ban"></i>Klaida!</h4>
				{{ status_text }}
			</div>
		</div>
	</section>
{% endblock %}



