//bootstrap
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@media (max-width: 768px) {
  .container-fluid {
    padding: 0;
  }
  .content {
    padding: 15px 0 0 0 !important;
  }
}

.img-profile{
  width: 66px;
  height: auto;
}