{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block title %}Klaida!{% endblock %}

{% block page_title %}Klaida!{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
            <div class="callout callout-danger">
                <p>{{ message }}</p>
            </div>
{% endblock %}

{% block avanzu_admin_footer %}
{% endblock %}



