{% extends 'base-login.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block page_content %}
    {% if error is defined and error %}
        <span>{{ error }}</span>
    {% endif %}
    {# todo: normalios formos#}
    <body class="hold-transition register-page">
    <div class="register-box">
        {% include ':inc:logo.html.twig' %}

        <div class="register-box-body">
            <p class="login-box-msg">Registracija</p>
            {{ form_widget(form) }}


            <div>
                <input class="btn btn-primary btn-block btn-flat" type="submit" value="{{ 'Registruotis'|trans }}" />
            </div>

        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->


    </body>

{% endblock page_content %}


