<div class="row anim-rocket">
	<img class="col-sm-12 col-sm-offset-0 col-xs-offset-2" src="../images/galutinis.svg"/>
	<div class="col-sm-2 col-md-offset-2 ball"></div>
</div>
<div class="login-logo"> 
    <a href="/"><b>Jėgelė</b></a>
</div>
