<section class="sidebar">
    <ul class="sidebar-menu">
        <li id="menu-profile">
            <a href="{{ path('student_view') }}"><i class="fa fa-user"></i> <span>Profilis</span></a>
        </li>
        <li id="menu-results">
            <a href="{{ path('result_create') }}" class="modal-button"><i class="fa fa-plus"></i> <span>Rezultato pridėjimas</span></a>
        </li>
    </ul>
</section>
