{% extends '::base.html.twig' %}


{% block page_content %}
    <ul class="list-group">
        {% for class in classes %}
            <li class="list-group-item classinfo">
                <a href="{{ path('class', {'id': class.id}) }}">{{ class.name }}</a>
            </li>
            <div id="class-info-output"></div>
        {% endfor %}
    </ul>
{% endblock %}


